ASSIGNMENT -4  ,  
NAME- Nitin kumar sharma  ,  
Emiail id - nitinsharma882000@gmail.com  ,  
mobile number- 9873147995

In [ ]:
#ANSWER -1
import pandas as pd
print(pd.__version__)

1.1.4

In [ ]:
#ANSWER - 2
# importing the modules 
import numpy as np 
import pandas as pd 
  
# creating an NumPy array 
array = np.array([10, 20, 1, 2,  
                   3, 4, 5, 6, 7]) 
  
# displaying the NumPy array 
print("Numpy array is :") 
display(array) 
  
# converting the NumPy array  
# to a Pandas series 
series = pd.Series(array)  
  
# displaying the Pandas series 
print("Pandas Series : ") 
display(series)

Numpy array is :

array([10, 20,  1,  2,  3,  4,  5,  6,  7])

Pandas Series :

0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int64

In [5]:
# importing the pandas library as pd 
import pandas as pd 
  
  
# Creating the dataframe df 
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['aman', 'raman', 'Darshan', 'shubhangi'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
# Printing the dataframe 
df

  Roll Number       Name  Marks In Percentage Grade  Subject
0     20CSE29       aman                   97     A  Physics
1     20CSE49      raman                   90     A  Physics
2     20CSE36    Darshan                   70     C  Physics
3     20CSE44  shubhangi                   82     B  Physics

In [ ]:
#Answer -4
import pandas as pd
data=pd.read_csv("student_records. csv")
data.head()
# it is showing error i.e it is showing no such directory found i tried many times

In [ ]:
#ANSWER -5
data['cars'].describe()

In [ ]:
#ANSWER -6
data['usa'].unique()